<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">
<%= link to "sample app", '#', id:logo "logo" %>
<nav>
<ul class="nav pull-right">
<li><%= link to "Home",%></li>
<li><%= link to "Help",%></li>
<li><%= link to "Sign in", '#'%></li>
</ul>
</nav>
</div>
</div>
</header>
